<!-- <section class="bg-primary text-white p-4">
  <h2 >
    heading
  </h2>
  <hr>
  <button mat-raised-button color="primary">Primary</button>
</section> -->

<div class="container mt-4">
  <app-tab></app-tab>
  
  <!-- here our website structure is getting changed 
hence ngIf is known as structural directive-->

<!-- <button class="btn btn-primary" (click)="showHide()">Click</button> -->
<!-- as angular's html template is dynamic,
   we can even write function code instead of call back function of event -->
<button class="btn btn-primary mt-2" (click)="isBoxVisible =!isBoxVisible">Click</button>
<hr>
<div class="box" *ngIf="isBoxVisible"></div>
<br>
<br>
<app-products></app-products>

  <div class="row">
    <div class="col-md-12">
      <!-- <app-product></app-product> -->
      <hr />
      <!-- <app-student></app-student>

      <app-skills></app-skills> -->
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          I Love {{ skill }}
        </li>
      </ul>
    </div>
  </div>

  <!-- <app-posts-cards></app-posts-cards> -->

</div>
